<div>
<p>This is the footer</p>
<ul>
    <li><a href="#">Deutsch</a></li>
    <li><a href="#">English</a></li>
    <li><a href="#">Español</a></li>
    <li><a href="#">Français</a></li>
    <li><a href="#">Italiano</a></li>
    <li><a href="#">Nederlands</a></li>
    <li><a href="#">Polski</a></li>
    <li><a href="#">Русский</a></li>
    <li><a href="#">Sinugboanong Binisaya</a></li>
    <li><a href="#">Svenska</a></li>
    <li><a href="#">Tiếng Việt</a></li>
    <li><a href="#">Winaray</a></li>
</ul>
</div>